
/*[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

/*[ RESTYLE TAG ]*/

body, html {

  padding:0px 30px;
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-color: #1b1b1b;
}

.content{
  margin-top: 70px;
}

.navy{
  text-align: center;
}
/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button.bigg {
  font-family: 'Lato-Regular';
  padding: 19px 39px 18px 39px;
  color: black;
  background-color: #f5d67b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #f5d67b;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(245, 214, 123, 0.1) inset;
  }

button:hover {
	cursor:pointer;
}

iframe {
	border: none !important;
}

button.tta{
  font-family: 'Lato-Regular';
  color: black;
  background-color: #f5d67b;
  font-size: 15px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #f5d67b;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(245, 214, 123, 0.1) inset;
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}



/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-family: Lato-Bold;
  font-size: 15px;
  color: #f5d67b;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}

.table100.ver3 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #f5d67b;
}

/*-----------items-------------*/
.items .column1{
  width:9%;
}
.items .column2{
  width:40%;
}
.items .column3{
  width:25%;
}
.items .column4{
  width:10%;
}
.items .column5{
  width:8%;
}
.items .column6{
  width:8%;
}

/*-----------customers-------------*/
.cust .column1{
  width:9%;
}
.cust .column2{
  width:30%;
}
.cust .column3{
  width:10%;
}
.cust .column4{
  width:17%;
}
.cust .column5{
  width:9%;
}
.cust .column6{
  width:9%;
}
.cust .column7{
  width:8%;
}
.cust .column8{
  width:8%;
}

/*-----------employees-------------*/
.emp .column1{
  width:9%;
}
.emp .column2{
  width:33%;
}
.emp .column3{
  width:12%;
}
.emp .column4{
  width:20%;
}
.emp .column5{
  width:9%;
}
.emp .column6{
  width:8%;
}
.emp .column7{
  width:8%;
}

/*-----------payment-------------*/
.pay .column1{
  width:9%;
}
.pay .column2{
  width:12%;
}
.pay .column3{
  width:18%;
}
.pay .column4{
  width:17%;
}
.pay .column5{
  width:17%;
}
.pay .column6{
  width:11%;
}
.pay .column7{
  width:8%;
}
.pay .column8{
  width:8%;
}



